.room-off {
  margin-top: 5vh;
  height: 80vh;
  background-color: rgb(19, 26, 26);
  margin-left: 5vh;
  margin-right: 5vh;
}

.room-on {
  margin-top: 5vh;
  height: 80vh;
  background-color: rgb(202, 224, 224);
  margin-left: 5vh;
  margin-right: 5vh;
}
